<p>about works!</p>
<div class="container" >
    <div class="row">
        <div class="col">
            <img style="height: 100px;" src="\assets\images\a.jpg" /><br>
<input (keyup.enter)= "nearmealerthome($event)" type="text" id="fname" name="fname">
        </div>
        <div class="col">
            <img style="height: 100px;" src="\assets\images\b.jpg" />
<input (keyup.enter)= "nearmealerthome($event)" type="text" id="fname" name="fname"><br>
        </div>

        <div class="col">
            <img style="height: 100px;" src="\assets\images\c.jpg" />
            <input (keyup.enter)= "nearmealerthome($event)" type="text" id="fname" name="fname">

        </div>

<div class="col">
<img style="height: 100px;" src="\assets\images\d.jpg" />
<input (keyup.enter)= "nearmealerthome($event)" type="text" id="fname" name="fname">
        </div>
    </div>
</div>